---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import { Picture } from 'astro:assets';
import MTRewindLogo from '../img/MTRewindLogo.png';
import MTLogo from '../img/MTLogo.png';

import { getImage } from 'astro:assets';
import MTRewindPattern from '../img/MTRewindPattern.png';
const pattern = await getImage({src: MTRewindPattern, format:'webp', quality:'high'});

import MTRewindRibbon from '../img/MTRewindRibbon2.svg';
const ribbon = await getImage({src: MTRewindRibbon});

import stringifyPubDate from "../utils/stringifyPubDate.js";
import slugEp from '../utils/slugEp';

import sortByEpisodeNumber from "../utils/sortByEpisodeNumber.js";

import '../css/style.css';

import Head from '../components/Head.astro';

const allPosts = await getCollection('episodes');

const posts = allPosts
      .filter((post: CollectionEntry<'episodes'>) => (post.data.pubDate.getFullYear())==2024)
      .sort(sortByEpisodeNumber);

import sortByName from "../utils/sortByName.js";

const crew = await getCollection('crew');
const members = sortByName(crew);
---

<Head title="MailTape Rewind 2024", description="Discover the best of 2024 and support us for 2025."/>

<a id="heart" title="Yeah!" class="fixed top-4 left-4 text-3xl p-2 shadow-lg z-20 bg-vibrant rounded-full hidden transition-all hover:-translate-y-0.5 active:translate-y-0.5" href="#support">
    ❤️
</a>

<div class="text-right py-4 px-6">
    <a class="font-body font-bold">FR</a> / <a href="rewind-2024" class="font-body hover:underline">EN</a>
</div>

<div class="bg-no-repeat bg-left-top bg-contain" style={`background-image: url(${ribbon.src});`}>
    <div class="max-xl:bg-white max-xl:bg-opacity-80">
        <article class="container mt-10 pb-16" >
            <header class="my-4 text-grey">
                <Picture src={MTRewindLogo} width={MTRewindLogo.width/4} densities={[1.5,2]} alt="MailTape Rewind 2024 - Logo" class="mx-auto my-6"/>
                <p class="font-body px-6 md:px-0 prose prose-lg md:prose-xl mx-auto leading-normal md:text-justify text-pretty">
                    <span class="!text-center block">Chères amies, chers amis,</span>
                    <br>
                    L’année touche à sa fin, l’occasion de revenir sur les artistes et les projets qui auront fait 2024 à MailTape, et au nom de toute l’équipe vous remercier d’être toujours plus nombreuses et nombreux à nos rendez-vous en ligne et en live.
                    <br><br>
                    Nous sommes heureux·ses et fier·e·s de pouvoir partager chaque semaine avec vous notre passion de la musique, de lire vos messages de soutien et pour la première fois depuis de longues années de pouvoir danser à vos côtés lors de la soirée MailTape Live #4 au Sample en mars dernier.
                    <br><br>
                    Depuis plus de 13 année d’existence et près de 570 épisodes publiés, MailTape poursuit plus que jamais sa mission de promouvoir l’émergence musicale et de soutenir les projets artistiques de musicien·ne·s du monde entier. Cette dynamique continuera en 2025 avec de nouvelles soirées Mailtape Live. Mailtape est un collectif artistique structuré en association qui rassemble une vingtaine de bénévoles issus de 7 pays différents parmi eux des curateur·ice·s, des rédacteur·ice·s, des illustrateur·ice·s, des développeur·e·s, des organisateur·ice·s.  
                    <br><br>
                    Nous mettons l’humain au centre de tout ce que nous créons, par conséquent nous attachons une importance primordiale à vous offrir une expérience respectueuse et éthique, garantie sans pisteurs, sans algorithme et sans IA. Le fonctionnement de l’association ne repose que sur les cotisations des adhérent·e·s ainsi que sur votre générosité. 
                    <br><br>
                    Vos dons servent à assurer les coûts techniques de MailTape et permettent d’organiser des lives, de louer du matériel et de rémunérer les artistes invité·e·s, pour continuer de faire vivre ce beau projet ensemble, année après année, dimanche après dimanche et plus encore.  
                </p>
                <p class="text-2xl text-center leading-tight mx-auto mt-8 font-brush -rotate-1">
                    Bonne fêtes à toutes et à tous,<br>
                    MailTape Crew
                </p>
            </header>
            <p class="font-heading uppercase text-center mt-20 text-3xl md:text-4xl text-bliss">
                Soutenez-nous pour 2025 et<br>(re)découvez le meilleur de 2024
            </p>
            <a href="#support" class="mx-auto block w-fit mt-6 px-4 text-center text-2xl font-heading rounded-md bg-bliss text-white border-8 border-bliss shadow-md hover:-translate-y-0.5 hover:drop-shadow-lg active:translate-y-0.5 active:drop-shadow-none transition-all">Je fais un don à l'association</a>
        </article>
    </div>
</div>

<div style={`background-image: url(${pattern.src});`}  class="pt-16 px-4 w-full min-h-[50vh] bg-no-repeat bg-center bg-cover flex gap-5 flex-row justify-evenly flex-wrap bg-fixed">
    <div class="bg-dreamy ring-8 ring-black p-4 rounded-lg w-[20vh] h-[20vh] min-w-32 md:min-w-40 min-h-32 md:min-h-40 flex flex-col items-center justify-center">
        <h2 class="font-heading text-4xl md:text-5xl">25 940</h2>
        <p class="font-heading text-lg md:text-xl leading-tight text-center">SESSIONS D'ÉCOUTE</p>
    </div>

    <div class="bg-dreamy ring-8 ring-black p-4 rounded-lg w-[20vh] h-[20vh] min-w-32 md:min-w-40 min-h-32 md:min-h-40 flex flex-col items-center justify-center">
        <h2 class="font-heading text-4xl md:text-5xl">103 760</h2>
        <p class="font-heading text-lg md:text-xl leading-tight text-center">MINUTES JOUÉES</p>
    </div>

    <div class="bg-dreamy ring-8 ring-black p-4 rounded-lg w-[20vh] h-[20vh] min-w-32 md:min-w-40 min-h-32 md:min-h-40 flex flex-col items-center justify-center">
        <h2 class="font-heading text-4xl md:text-5xl">116</h2>
        <p class="font-heading text-lg md:text-xl leading-tight text-center">PAYS</p>
    </div>
    <div class="w-full h-0 mt-5 md:mt-0"></div>
    <p class="text-center text-sm text-white font-body md:mx-10 px-4 md:px-10 py-4 mb-4 backdrop-brightness-75 backdrop-blur-sm rounded-sm h-fit w-fit">✌️ Stats anonymes uniquement pour avoir une idée de notre diffusion. Collectées avec Matomo, un outil libre et hébergé par nos soins.&nbsp;✌️</p>
</div>

<section id="episodes" class="bg-vibrant py-16">
    <div class="flex flex-col justify-center px-4 md:px-0 mb-10 md:mb-16 text-grey text-center">
        <h1 class="font-heading uppercase text-4xl md:text-5xl ">Les épisodes de l'année</h1>
        <p class="font-heading text-lg md:text-xl">Un immense merci à nos invité·e·s et à leur équipe pour leur contribution</p>
    </div>
    <div class="container flex flex-row flex-wrap justify-evenly gap-14 gap-y-14">
        {
            posts.map((episode:any)=>(
                <div class="w-fit flex flex-col gap-1">
                    <a href=`/${ slugEp(episode) }` 
                    title=`Écouter l'épisode #${episode.data.category} avec ${episode.data.guest_name}`
                    class="drop-shadow-lg relative rounded-md bg-gray-200 w-56 min-h-56 mb-3 hover:-translate-y-0.5 hover:drop-shadow-xl active:translate-y-0.5 active:drop-shadow-none transition-all">
                        <div>
                            <Picture 
                            class="w-full rounded-t-md"
                            src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.guestPic}&w=230&h=230&fit=cover&il&output=webp`
                            alt=`Portrait of ${episode.data.guest_name} illustrated by ${episode.data.illustrator}`
                            width="230"
                            height="230"
                            loading='lazy'
                            decoding='async'
                            />
                            <Picture
                            class="absolute w-full -bottom-1 border-t-2 border-b-2 bg-white rounded-b-md"
                            src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.musiColor}&w=230&fit=contain&il&output=webp`
                            alt=`MusiColor of the episode ${episode.data.category}`
                            width="230"
                            height="20"
                            loading='lazy'
                            decoding='async'
                            />
                            <h2 class="absolute text-center font-superspitze bottom-[10%] w-full text-3xl drop-shadow-lg text-white px-2 leading-[0.85]">{episode.data.guest_name}</h2>
                        </div>
                    </a>
                    
                    <p class="text-center text-xl text-grey font-heading">EPISODE #{ episode.data.category }
                        <br>{ stringifyPubDate(episode.data.pubDate,"compact") }
                    </p>
                    <p class="text-center font-body font-light text-sm italic">
                        {episode.data.author === episode.data.writer 
                            ? `Curation & texte : ${episode.data.author}` 
                            : (
                                <>
                                    <span>Curation: {episode.data.author}</span><br />
                                    <span>Texte: {episode.data.writer}</span>
                                </>
                            )
                        }
                        <br />
                        <span>Illutration: {episode.data.illustrator}</span>
                    </p>
                </div>
            ))
        }
    </div>
</section>

<section class="relative  bg-dreamy">
    <div class="absolute bg-[url('//wsrv.nl/?url=ssl:www.mailta.pe/img/guestPic558.jpg&w=1200&il&output=webp')] bg-center bg-cover bg-no-repeat opacity-10 w-full h-full z-0"></div>
    <div class="relative py-16 px-4 md:px-20 lg:px-40 flex flex-col lg:flex-row gap-3 md:gap-4 lg:gap-10 justify-evenly items-center z-10">

        {
            posts.map((episode:any)=>(
                episode.data.category === "558" ? (
                    <div class="w-fit flex flex-col gap-1 max-lg:order-2">
                        <a href=`/${ slugEp(episode) }` 
                        title=`Écouter l'épisode #${episode.data.category} avec ${episode.data.guest_name}`
                        class="drop-shadow-lg w-60 lg:w-96 rounded-md relative bg-gray-200 min-h-60 lg:min-h-96 mb-3 hover:-translate-y-0.5 hover:drop-shadow-xl active:translate-y-0.5 active:drop-shadow-none transition-all">
                            <div>
                                <Picture 
                                class="w-full rounded-t-md"
                                src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.guestPic}&w=380&h=380&fit=cover&il&output=webp`
                                alt=`Portrait of ${episode.data.guest_name} illustrated by ${episode.data.illustrator}``
                                width="380"
                                height="380"
                                loading='lazy'
                                decoding='async'/>
                                <Picture
                                class="w-full absolute -bottom-1 border-t-2 border-b-2 bg-white rounded-b-md"
                                src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.musiColor}&w=380&fit=contain&il&output=webp`
                                alt=`MusiColor of the episode ${episode.data.category}`
                                width="380"
                                height="30"
                                loading='lazy'
                                decoding='async'/>
                                <h2 class="absolute text-center font-superspitze bottom-[10%] w-full text-3xl lg:text-5xl drop-shadow-lg text-white px-2 leading-[0.85]">{episode.data.guest_name}</h2>
                            </div>
                        </a>
                    </div>
                ) : null
            ))
        }


        <div class="text-center text-white h-fit basis-1/2">
            <h2 class="font-heading text-4xl md:text-5xl max-lg:order-1">
                ÉPISODE LE PLUS ÉCOUTÉ
            </h2>
            <p class="font-body text-xl max-lg:hidden ">
                Avec cet épisode, nous embarquions pour un voyage ambiant et introspectif vers des contrées éthérées.
            </p>
        </div>
        <p class="font-body text-center text-white text-md md:text-lg max-lg:order-3 lg:hidden">
            Avec cet épisode, nous embarquions pour un voyage ambiant et introspectif vers des contrées éthérées.
        </p>
    </div>
</section>

<div class="flex flex-col lg:flex-row">
    <section class="relative  bg-trippy basis-1/2">
        <div class="absolute bg-[url('//wsrv.nl/?url=ssl:www.mailta.pe/img/guestPic552.jpg&w=1200&il&output=webp')] bg-center bg-cover bg-no-repeat opacity-10 w-full h-full z-0"></div>
        <div class="relative py-16 px-4 lg:px-40 flex flex-col gap-3 md:gap-4 lg:gap-10 justify-evenly items-center z-10">

            {
                posts.map((episode:any)=>(
                    episode.data.category === "552" ? (
                        <div class="w-fit flex flex-col gap-1 max-lg:order-2">
                            <a href=`/${ slugEp(episode) }`
                            title=`Écouter l'épisode #${episode.data.category} avec ${episode.data.guest_name}`
                            class="drop-shadow-lg w-60 lg:w-72 rounded-md relative bg-gray-200 min-h-60 lg:min-h-72 mb-3 hover:-translate-y-0.5 hover:drop-shadow-xl active:translate-y-0.5 active:drop-shadow-none transition-all">
                                <div>
                                <Picture 
                                class="w-full rounded-t-md"
                                src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.guestPic}&w=380&h=380&fit=cover&il&output=webp`
                                alt=`Portrait of ${episode.data.guest_name} illustrated by ${episode.data.illustrator}``
                                width="380"
                                height="380"
                                loading='lazy'
                                decoding='async'/>
                                <Picture
                                class="w-full absolute -bottom-1 border-t-2 border-b-2 bg-white rounded-b-md"
                                src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.musiColor}&w=380&fit=contain&il&output=webp`
                                alt=`MusiColor of the episode ${episode.data.category}`
                                width="380"
                                height="30"
                                loading='lazy'
                                decoding='async'/>
                                <h2 class="absolute text-center font-superspitze bottom-[10%] w-full text-3xl lg:text-5xl drop-shadow-lg text-white px-2 leading-[0.85]">{episode.data.guest_name}</h2>
                            </div>
                            </a>
                        </div>
                    ) : null
                ))
            }


            <div class="text-center text-white h-fit max-lg:order-1">
                <h2 class="font-heading text-3xl">
                    N°2
                </h2>
                <p class="font-body text-md md:text-lg max-lg:hidden">
                    Un épisode tout en douceur qui invitait à se détendre du tumulte de la vie quotidienne et à nourrir son imagination de poésie et de paysages apaisants.
                </p>
            </div>
            <p class="font-body text-center text-white text-md md:text-lg lg:hidden max-lg:order-3">
                Un épisode tout en douceur qui invitait à se détendre du tumulte de la vie quotidienne et à nourrir son imagination de poésie et de paysages apaisants.
            </p>
        </div>
    </section>

    <section class="relative  bg-bliss basis-1/2">
        <div class="absolute bg-[url('//wsrv.nl/?url=ssl:www.mailta.pe/img/guestPic545.jpg&w=1200&il&output=webp')] bg-center bg-cover bg-no-repeat opacity-10 w-full h-full z-0"></div>
        <div class="relative py-16 px-4 lg:px-40 flex flex-col gap-3 md:gap-4 lg:gap-10 justify-evenly items-center z-10">

            {
                posts.map((episode:any)=>(
                    episode.data.category === "545" ? (
                        <div class="w-fit flex flex-col gap-1 max-lg:order-2">
                            <a href=`/${ slugEp(episode) }` 
                            title=`Écouter l'épisode #${episode.data.category} avec ${episode.data.guest_name}`
                            class="drop-shadow-lg w-60 lg:w-72 rounded-md relative bg-gray-200 min-h-60 lg:min-h-72 mb-3 hover:-translate-y-0.5 hover:drop-shadow-xl active:translate-y-0.5 active:drop-shadow-none transition-all">
                                <div>
                                <Picture 
                                class="w-full rounded-t-md"
                                src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.guestPic}&w=380&h=380&fit=cover&il&output=webp`
                                alt=`Portrait of ${episode.data.guest_name} illustrated by ${episode.data.illustrator}``
                                width="380"
                                height="380"
                                loading='lazy'
                                decoding='async'/>
                                <Picture
                                class="w-full absolute -bottom-1 border-t-2 border-b-2 bg-white rounded-b-md"
                                src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.musiColor}&w=380&fit=contain&il&output=webp`
                                alt=`MusiColor of the episode ${episode.data.category}`
                                width="380"
                                height="30"
                                loading='lazy'
                                decoding='async'/>
                                <h2 class="absolute text-center font-superspitze bottom-[10%] w-full text-3xl lg:text-5xl drop-shadow-lg text-white px-2 leading-[0.85]">{episode.data.guest_name}</h2>
                            </div>
                            </a>
                        </div>
                    ) : null
                ))
            }


            <div class="text-center text-white h-fit max-lg:order-1">
                <h2 class="font-heading text-3xl">
                    N°3
                </h2>
                <p class="font-body text-md md:text-lg max-lg:hidden">
                    Un épisode qui traversait les vastes paysages de l'expression musicale, une sélection qui inspirait le courage d'embrasser la beauté de l'inconnu.                </p>
            </div>
            <p class="font-body text-center text-white text-md md:text-lg lg:hidden max-lg:order-3">
                Un épisode qui traversait les vastes paysages de l'expression musicale, une sélection qui inspirait le courage d'embrasser la beauté de l'inconnu.                </p>
        </div>
    </section>
</div>

<section class="container my-16 text-grey">
    <h1 class="font-heading text-5xl text-center mb-8">2024<br>MAILTAPE CREW</h1>
    <div class="flex flex-row justify-evenly flex-wrap gap-6 md:gap-12 ">
        {members.map(member => (
        <div class="flex flex-col flex-wrap items-center gap-1">
                <Picture
                src=`/img/crew/${member.data.profilePic}` // [TODO] npo ajouter wsrv.nl
                class="w-24 h-24 rounded-full drop-shadow bg-gray-200 object-cover"
                width="100"
                height="100"
                alt=`Profile picture of ${member.data.name}`
                loading='lazy'
                decoding='async'
                
                />
                <div class="flex flex-row gap-1 min-w-36 place-items-center justify-center">
                    <p class="mt-2 font-heading text-xl uppercase text-center text-grey">{member.data.name}</p>
                    {member.data.link ? 
                    <a href=`${member.data.link}` target="_blank" title=`En savoir plus à propos de ${member.data.name}`>
                    <svg class="max-h-5 -mb-1 opacity-40 hover:opacity-100 transition-opacity" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 19.980469 2.9902344 A 1.0001 1.0001 0 0 0 19.869141 3 L 15 3 A 1.0001 1.0001 0 1 0 15 5 L 17.585938 5 L 8.2929688 14.292969 A 1.0001 1.0001 0 1 0 9.7070312 15.707031 L 19 6.4140625 L 19 9 A 1.0001 1.0001 0 1 0 21 9 L 21 4.1269531 A 1.0001 1.0001 0 0 0 19.980469 2.9902344 z M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 13 A 1.0001 1.0001 0 1 0 19 13 L 19 19 L 5 19 L 5 5 L 11 5 A 1.0001 1.0001 0 1 0 11 3 L 5 3 z"/></svg>
                    </a>
                    : null }
                </div>
                <p class="font-body text-center text-lighterGrey">{member.data.roleFR}</p>
        </div>
        ))}
    </div>
</section>

<section class="py-16 bg-vibrant text-grey" id="support">
    <h1 class="font-heading text-5xl text-center">I ❤️ MAILTAPE</h1>
    <h2 class="font-heading text-3xl text-center">Soutenir le collectif au fil de nos épisodes</h2>

    <div class="mx-auto w-fit drop-shadow-md mt-10 flex flex-row flex-wrap gap-10 justify-center">

        <script async is:inline
            src="https://js.stripe.com/v3/buy-button.js">
            </script>

            <stripe-buy-button
            buy-button-id="buy_btn_1QYUyOC6YeuT7QRuP8A9zdf7"
            publishable-key="pk_live_ti3a3Nwuy9vZJ8e65WClGQ08"
            >
            </stripe-buy-button>

            <stripe-buy-button
            buy-button-id="buy_btn_1QYVAVC6YeuT7QRu8bI1NZhm"
            publishable-key="pk_live_ti3a3Nwuy9vZJ8e65WClGQ08"
            >
            </stripe-buy-button>

            <stripe-buy-button
            buy-button-id="buy_btn_1QYVBiC6YeuT7QRuKaqioCq9"
            publishable-key="pk_live_ti3a3Nwuy9vZJ8e65WClGQ08"
            >
            </stripe-buy-button>

            <stripe-buy-button
            buy-button-id="buy_btn_1QYVCQC6YeuT7QRudNG86SJw"
            publishable-key="pk_live_ti3a3Nwuy9vZJ8e65WClGQ08"
            >
    </div>
    <a href="https://donate.stripe.com/3cs6oW3FI7gVcjS4gh" target="_blank" class="text-center text-md font-body text-dreamy block mt-5 hover:underline">Je préfère contribuer avec un don unique ❤️</a>

    <a href="/" class="mt-16 block w-fit mx-auto"><Picture src={MTLogo} width={MTLogo.width/10} densities={[1.5,2]} alt="MailTape Logo" class="mx-auto my-4"/></a>

</section>

<script is:inline>
    window.addEventListener('scroll', function() {
        const episodes = document.getElementById('episodes');
        const heart = document.getElementById('heart');
        const support = document.getElementById('support')

        // Get the position of the target element
        const visiblePosition = episodes.getBoundingClientRect().top;
        const supportPosition = support.getBoundingClientRect().top-window.innerHeight;

        console.log(supportPosition);

        // Check if the target element is in view
        if (visiblePosition <= 0 && supportPosition > 0) {
            heart.classList.remove('hidden'); // Add class when in view
        } else {
            heart.classList.add('hidden'); // Remove class when out of view
        }
    });
</script>

</body>
</html>