---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import { Picture } from 'astro:assets';
import MTRewindLogo from '../img/MTRewindLogo.png';
import MTLogo from '../img/MTLogo.png';

import { getImage } from 'astro:assets';
import MTRewindPattern from '../img/MTRewindPattern.png';
const pattern = await getImage({src: MTRewindPattern, format:'webp'});

import stringifyPubDate from "../utils/stringifyPubDate.js";
import slugEp from '../utils/slugEp';

import sortByEpisodeNumber from "../utils/sortByEpisodeNumber.js";

import '../css/style.css';

import Head from '../components/Head.astro';

const allPosts = await getCollection('episodes');

const posts = allPosts
      .filter((post: CollectionEntry<'episodes'>) => (post.data.pubDate.getFullYear())==2024)
      .sort(sortByEpisodeNumber);

---

<Head title="MailTape Rewind 2024", description="Discover the best of 2024 and support us for 2025."/>

<article class="container mt-10">
    <header class="my-4">
        <Picture src={MTRewindLogo} width={MTRewindLogo.width/4} densities={[1.5,2]} alt="MailTape Rewind 2024 - Logo" class="mx-auto my-4"/>
        <p class="font-body prose prose-xl mx-auto leading-normal text-center">
            Chères amies, chers amis,
            <br><br>
            L’année touche à sa fin, l’occasion pour nous de revenir sur les artistes et les projets qui auront fait 2024 à Mailtape, et au nom de toute l’équipe vous remercier d’être toujours plus nombreux à nos rendez-vous en ligne et en live.
            <br><br>
            Nous sommes heureux et fiers de pouvoir partager chaque semaine avec vous notre passion de la musique, de lire vos messages de soutien et pour la première fois depuis de longues années de pouvoir danser à vos côtés lors de la soirée MailTape Live#4 au Sample en mars dernier.
            <br><br>
            Depuis plus de 13 année d’existence et près de 570 épisodes publiés, Mailtape poursuit plus que jamais sa mission de promouvoir l’émergence musicale et de soutenir les projets artistiques de musiciens du monde entier. Cette dynamique continuera en 2025 avec de nouvelles soirées Mailtape Live.Mailtape est un collectif artistique structuré en association qui rassemble une vingtaine de bénévoles issus de 7 pays différents parmi eux des curateur·ices, des rédacteur·ices, des illustrateur·ices, des développeurs, des organisateur·ices.  
            <br><br>
            Nous mettons l’humain au centre de tout ce que nous créons, par conséquent nous attachons une importance primordiale à vous offrir une expérience respectueuse et éthique, garantie sans pisteurs, sans algorithme et sans IA.Le fonctionnement de l’association ne repose que sur les cotisations des adhérents ainsi que sur votre générosité. 
            <br><br>
            Vos dons servent à assurer les coûts techniques de Mailta.pe et permettent d’organiser des lives, de louer du matériel et de rémunérer les artistes invités, pour continuer de faire vivre ce beau projet ensemble, année après année, dimanche après dimanche et plus encore.  
        </p>
        <p class="text-2xl text-center leading-tight mx-auto mt-8 font-brush">
            Bonne fêtes à toutes et à tous,<br>
            MailTape Crew
        </p>
    </header>
    <p class="font-superspitze uppercase text-center mt-16 text-3xl text-bliss">
        Soutenez-nous pour 2025 et<br>(re)découvez le meilleur de 2024
    </p>
    <a href="https://www.helloasso.com/associations/mailtape/formulaires/2" class="mx-auto block w-fit mt-6 px-4 text-center font-superspitze rounded-md bg-bliss text-white border-8 border-bliss shadow-md hover:-translate-y-0.5 hover:drop-shadow-lg active:translate-y-0.5 active:drop-shadow-none transition-all">Je fais un don à l'association</a>
</article>

<div  style={`background-image: url(${pattern.src});`}  class="mt-16 w-full min-h-[40vh] bg-no-repeat bg-center bg-cover">

</div>

<section class="bg-vibrant py-16">
    <h1 class="font-superspitze uppercase text-center text-3xl text-grey mb-10">Les épisodes de l'année</h1>
    <div class="container flex flex-row flex-wrap justify-evenly gap-14 gap-y-14">
        {
            posts.map((episode:any)=>(
                <div class="w-fit flex flex-col gap-1">
                    <a href=`/${ slugEp(episode) }` 
                    title=`Écouter l'épisode #${episode.data.category} avec ${episode.data.guest_name}`
                    class="drop-shadow-lg relative bg-gray-200 w-56 min-h-56 mb-3 hover:-translate-y-0.5 hover:drop-shadow-xl active:translate-y-0.5 active:drop-shadow-none transition-all">
                        <div>
                            <img 
                            class="w-full rounded-t-md"
                            src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.guestPic}&w=230&h=230&fit=cover&il&output=webp`
                            />
                            <img
                            class="absolute w-full -bottom-1 border-t-2 border-b-2 bg-white rounded-b-md"
                            src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.musiColor}&w=230&fit=contain&il&output=webp`
                            />
                            <h2 class="absolute text-center font-superspitze bottom-[10%] w-full text-3xl drop-shadow-lg text-white px-2 leading-[0.85]">{episode.data.guest_name}</h2>
                        </div>
                    </a>
                    
                    <p class="text-center text-sm text-grey font-superspitze">EPISODE #{ episode.data.category }
                        <br>{ stringifyPubDate(episode.data.pubDate,"compact") }
                    </p>
                    <p class="text-center font-body font-light text-sm italic">
                        {episode.data.author === episode.data.writer 
                            ? `Curation & texte : ${episode.data.author}` 
                            : (
                                <>
                                    <span>Curation: {episode.data.author}</span><br />
                                    <span>Texte: {episode.data.writer}</span>
                                </>
                            )
                        }
                        <br />
                        <span>Illutration: {episode.data.illustrator}</span>
                    </p>
                </div>
            ))
        }
    </div>
</section>

<section class="relative  bg-dreamy">
    <div class="absolute bg-[url('//wsrv.nl/?url=ssl:www.mailta.pe/img/guestPic558.jpg&w=1200&il&output=webp')] bg-center bg-cover bg-no-repeat opacity-10 w-full h-full z-0"></div>
    <div class="relative py-16 px-40 flex flew-row gap-10 justify-evenly items-center z-10">

        {
            posts.map((episode:any)=>(
                episode.data.category === "558" ? (
                    <div class="w-fit flex flex-col gap-1">
                        <a href=`/${ slugEp(episode) }` 
                        title=`Écouter l'épisode #${episode.data.category} avec ${episode.data.guest_name}`
                        class="drop-shadow-lg w-96 rounded-md relative bg-gray-200 min-h-96 mb-3 hover:-translate-y-0.5 hover:drop-shadow-xl active:translate-y-0.5 active:drop-shadow-none transition-all">
                            <div>
                                <img 
                                class="w-full rounded-t-md"
                                src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.guestPic}&w=380&h=380&fit=cover&il&output=webp`
                                />
                                <img
                                class="w-full absolute -bottom-1 border-t-2 border-b-2 bg-white rounded-b-md"
                                src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.musiColor}&w=380&fit=contain&il&output=webp`
                                />
                                <h2 class="absolute text-center font-superspitze bottom-[10%] w-full text-5xl drop-shadow-lg text-white px-2 leading-[0.85]">{episode.data.guest_name}</h2>
                            </div>
                        </a>
                    </div>
                ) : null
            ))
        }


        <div class="text-center text-white h-fit basis-1/2">
            <h2 class="font-superspitze text-4xl">
                ÉPISODE LE PLUS ÉCOUTÉ
            </h2>
            <p class="font-body text-xl">
                Avec cet épisode, nous embarquions pour un voyage ambiant dans des contrées éthérées où la musique nous entrainait dans un voyage intérieur.
            </p>
        </div>
    </div>
</section>

<div class="flex flex-row">
    <section class="relative  bg-trippy basis-1/2">
        <div class="absolute bg-[url('//wsrv.nl/?url=ssl:www.mailta.pe/img/guestPic552.jpg&w=1200&il&output=webp')] bg-center bg-cover bg-no-repeat opacity-10 w-full h-full z-0"></div>
        <div class="relative py-16 px-40 flex flex-col gap-10 justify-evenly items-center z-10">

            {
                posts.map((episode:any)=>(
                    episode.data.category === "552" ? (
                        <div class="w-fit flex flex-col gap-1">
                            <a href=`/${ slugEp(episode) }` 
                            title=`Écouter l'épisode #${episode.data.category} avec ${episode.data.guest_name}`
                            class="drop-shadow-lg w-72 rounded-md relative bg-gray-200 min-h-72 mb-3 hover:-translate-y-0.5 hover:drop-shadow-xl active:translate-y-0.5 active:drop-shadow-none transition-all">
                                <div>
                                    <img 
                                    class="w-full rounded-t-md"
                                    src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.guestPic}&w=380&h=380&fit=cover&il&output=webp`
                                    />
                                    <img
                                    class="w-full absolute -bottom-1 border-t-2 border-b-2 bg-white rounded-b-md"
                                    src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.musiColor}&w=380&fit=contain&il&output=webp`
                                    />
                                    <h2 class="absolute text-center font-superspitze bottom-[10%] w-full text-5xl drop-shadow-lg text-white px-2 leading-[0.85]">{episode.data.guest_name}</h2>
                                </div>
                            </a>
                        </div>
                    ) : null
                ))
            }


            <div class="text-center text-white h-fit ">
                <h2 class="font-superspitze text-3xl">
                    N°2
                </h2>
                <p class="font-body text-lg">
                    Un épisode tout en douceur qui invitait à se détendre du tumulte de la vie quotidienne et à nourrir son imagination de poésie et de paysages apaisants.
                </p>
            </div>
        </div>
    </section>

    <section class="relative  bg-bliss basis-1/2">
        <div class="absolute bg-[url('//wsrv.nl/?url=ssl:www.mailta.pe/img/guestPic545.jpg&w=1200&il&output=webp')] bg-center bg-cover bg-no-repeat opacity-10 w-full h-full z-0"></div>
        <div class="relative py-16 px-40 flex flex-col gap-10 justify-evenly items-center z-10">

            {
                posts.map((episode:any)=>(
                    episode.data.category === "545" ? (
                        <div class="w-fit flex flex-col gap-1">
                            <a href=`/${ slugEp(episode) }` 
                            title=`Écouter l'épisode #${episode.data.category} avec ${episode.data.guest_name}`
                            class="drop-shadow-lg w-72 rounded-md relative bg-gray-200 min-h-72 mb-3 hover:-translate-y-0.5 hover:drop-shadow-xl active:translate-y-0.5 active:drop-shadow-none transition-all">
                                <div>
                                    <img 
                                    class="w-full rounded-t-md"
                                    src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.guestPic}&w=380&h=380&fit=cover&il&output=webp`
                                    />
                                    <img
                                    class="w-full absolute -bottom-1 border-t-2 border-b-2 bg-white rounded-b-md"
                                    src=`//wsrv.nl/?url=ssl:www.mailta.pe/img/${episode.data.musiColor}&w=380&fit=contain&il&output=webp`
                                    />
                                    <h2 class="absolute text-center font-superspitze bottom-[10%] w-full text-5xl drop-shadow-lg text-white px-2 leading-[0.85]">{episode.data.guest_name}</h2>
                                </div>
                            </a>
                        </div>
                    ) : null
                ))
            }


            <div class="text-center text-white h-fit">
                <h2 class="font-superspitze text-3xl">
                    N°3
                </h2>
                <p class="font-body text-lg">
                    Un épisode qui traversait les vastes paysages de l'expression musicale, une sélection qui inspirait le courage d'embrasser la beauté de l'inconnu.                </p>
            </div>
        </div>
    </section>
</div>

<section class="container my-16">
    <h1 class="font-superspitze text-4xl text-center">2024<br>MAILTAPE CREW</h1>
</section>

<section class="py-16 bg-vibrant">
    <h1 class="font-superspitze text-4xl text-center">I ❤️ MAILTAPE</h1>
    
    <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/mailtape/formulaires/2/widget" style="width: 100%; height: 1000px; border: none;"></iframe>

    <a href="/" class="mt-16 block w-fit mx-auto"><Picture src={MTLogo} width={MTLogo.width/10} densities={[1.5,2]} alt="MailTape Logo" class="mx-auto my-4"/></a>

</section>

</body>
</html>